<nav>
  <i class="bi bi-bar-chart-steps checkbtn" (click)="toggleNavbar()"></i>
  <img
    class="logoImage"
    src="assets/golden link transparent logo.png"
    alt="Golden Link Transparent Logo"
  />
  <ul class="navLinks" [ngStyle]="{ left: show ? '0' : '-100%' }">
    <li>
      <a
        [ngClass]="{ active: currentRoute('/') }"
        routerLink=""
        (click)="toggleNavbar()"
        >Home</a
      >
    </li>
    <li>
      <a
        [ngClass]="{ active: currentRoute('/about') }"
        routerLink="/about"
        (click)="toggleNavbar()"
        >About</a
      >
    </li>
    <li>
      <a
        [ngClass]="{ active: currentRoute('/contact') }"
        routerLink="/contact"
        (click)="toggleNavbar()"
        >Contact</a
      >
    </li>
    <li>
      <a
        [ngClass]="{ active: currentRoute('/our-services') }"
        routerLink="/our-services"
        (click)="toggleNavbar()"
        >Our Services</a
      >
    </li>
  </ul>
</nav>
