<div class="container">
  <div class="card">
    <table>
      <tr>
        <td><i class="bi bi-telephone-fill"></i></td>
        <td><span>01 7317348, 09 43055393</span></td>
      </tr>
      <tr>
        <td>
          <i class="bi bi-geo-alt-fill"></i>
        </td>
        <td>
          <span
            >No.78, 2<sup>nd</sup> Floor, Ohn Pin Street(upper), KyeeMyinDaing
            Township, Yangon
          </span>
        </td>
      </tr>
      <tr>
        <td><i class="bi bi-person-circle"></i></td>
        <td>
          <span> Thin Htet Htet Aung (Training Director) </span>
        </td>
      </tr>
    </table>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.3741246327936!2d96.12505349999999!3d16.807786099999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb0052dd9db5%3A0x7b4c02fa969463a0!2sGolden%20Link%20Japanese%20and%20Other%20Languages%20Academy!5e0!3m2!1sen!2smm!4v1710168196034!5m2!1sen!2smm"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
