.wrapper {
    margin: 10px;
    overflow-x: hidden;
}

.content-wrapper {
    padding: 5px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.content-image {
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.content-text {
    text-align: justify;
    font-size: 15px;
}

.content-title {
    text-align: center;
}

.content-right {
    flex-direction: row-reverse;
}

@media (max-width: 858px) {
    .content-wrapper {
        flex-direction: column;
    }
}